:root {
  --padding: 1rem;
  --margin: 1.5rem;
  --border-radius: 12px;
  --main-bg-color: #dddede;
  --bg-color: #f6f4f4;
  --text-color: #0a0a0a;
  --accent-color: #3C948B;
  --accent-hover-color: #347f78;
  --shadow: 0 0 5px rgba(0,0,0,0.2);
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: var(--text-color);
  background: var(--main-bg-color);
}
h1 {
  font-size: 1.125rem; /* 18 px @ 16 px root */
}
a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  color: var(--accent-hover-color);
  cursor: pointer;
}
.container {
  max-width: 780px;
  margin: 0 auto;
  padding: var(--padding);
  padding-bottom: 4rem;
}
#search-bar {
  max-width: 100%;
  padding: var(--padding);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
#select-search {
  max-width: 300px;
  /* Optional: remove default arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='10' viewBox='0 0 24 24' width='10' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  padding-right: 30px; /* leave space for arrow */
  cursor: pointer;
  font-size: 0.875rem;
}
#select-search, #input-search {
  padding: 15px;
  font-size: 1.25rem;
  line-height: 1.2;
  border: 1px solid rgb(101, 100, 100);
  border-radius: 8px;
  background-color:var(--bg-color);
}
#input-search {
  width: 300px;
}
.episode-container {
  padding: 0 var(--padding) calc(var(--padding) * 2) var(--padding);
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
article {
  /* max-width: 600px; */
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: var(--padding);
  text-align: center;
  border-radius: var(--border-radius);
  background: var(--bg-color);
  box-shadow: var(--shadow);
  box-sizing: border-box;
}
article > h2 {
  height: 9rem;
  margin: calc(-1 * var(--padding)) calc(-1 * var(--padding)) 0 calc(-1 * var(--padding));
  padding: 0 var(--padding);
  display: grid;
  place-content: center;
  font-size: 1.5rem;
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
  background: var(--bg-color);
  box-shadow: var(--shadow);
}
article h2 a, footer a {
  color: inherit;
}
article img {
  width: 100%;
  height:max-content;
  border-radius: calc(var(--border-radius) / 2);
  box-shadow: var(--shadow);
}
article p {
  height: 14rem;
  text-align: left;
  overflow: auto;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.25rem;
}
footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: calc(var(--padding) / 2) var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-bg-color);
  opacity: 0.85;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
footer a {
  opacity: 1;
  color: var(--accent-color);
}
.status-message {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  color: var(--accent-hover-color);
 }

.status-message.error {
  color: var(--accent-color);
}

@media screen and (min-width: 800px) {
  :root {
    --padding: 30px;
    --margin: 30px;
    --border-radius: 16px;
  }
  h1 {
    font-size: 1.5rem;
  }
  .container {
    max-width: 1200px;
  }
  .search-bar {
    padding: calc(var(--padding) * 2) var(--padding);
  }
  #select-search {
    max-width: 400px;
  }
  #input-search {
    width: 400px;
  }
  .episode-container {
    gap: 2rem;
  }
  article {
    max-width: 350px;
  }
  article img {
    border-radius: calc(var(--border-radius) / 3);
  }
  footer {
    padding: calc(var(--padding) / 2) calc(var(--padding) * 2);
  }
}
